{% extends 'base.html' %}

{% block title %}评论商品{% endblock %}

{% block content %}
<head>
    <style>
        #ii{
            text-align: center;
            font-size: 50px;
            /*color: crimson;*/
        }
        body{
            /*background:url('../static/images/b1.jpg') no-repeat center 0*/
            background:url("{{ url_for('static', filename='images/b1.jpg') }}") no-repeat center 0
        }

        form{
            text-align: center;
            padding: auto;
        }


    </style>
</head>

</form>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div id="ii" >
    购买成功！快来评论吧！</br>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<!– Comment Form –>
<form id="comment_form" action="" method="post">

    <div id="ie">&nbsp;</div>

            <h3>满意度: 0-5 </h3>
            <input  name="stars" type="text" pattern="[0-5]" style="width:200px;height:20px" required/></br>
            <h3>评论</h3>
            <input name="comment" type="text" style="width:200px;height:100px" required/></br>

            <input type="submit" value="提交">





</form>
{% endblock%}
