{% extends 'base.html' %}

{% block header %}
  <!--<h1>{% block title %}Register{% endblock %}</h1>-->
{% endblock %}

{% block content %}
<form action="/auth/register" method="post">
    <div class="main_box">
        <div class="login_box">
            <h3><span>注册</span></h3>
            <div class="form_all_box">
                <input type="text" class="form_box" name="username" placeholder="请输入用户名/邮箱">
            </div>
            <div class="form_all_box">
                <input type="text" class="form_box" name="email" placeholder="输入邮箱">
            </div>
            <div class="form_all_box">
                <input type="text" class="form_box" name="password" placeholder="请输入密码">
            </div>


            <div class="form_all_box ">
                <button type="submit" class="btn_box">注册</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}