/*html { font-family: sans-serif; background: #eee; padding: 1rem; }*/
/*body { max-width: 960px; margin: 0 auto; background: white; }*/
/*h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }*/
/*a { color: #377ba8; }*/
/*hr { border: none; border-top: 1px solid lightgray; }*/
nav { background: #90d3c6; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
/*.content { padding: 0 1rem 1rem; }*/
/*.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }*/
/*.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }*/
.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

/*.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }*/
/*.post > header > div:first-of-type { flex: auto; }*/
/*.post > header h1 { font-size: 1.5em; margin-bottom: 0; }*/
/*.post .about { color: slategray; font-style: italic; }*/
/*.post .body { white-space: pre-line; }*/
/*.content:last-child { margin-bottom: 0; }*/
/*.content form { margin: 1em 0; display: flex; flex-direction: column; }*/
/*.content label { font-weight: bold; margin-bottom: 0.5em; }*/
/*.content input, .content textarea { margin-bottom: 1em; }*/
/*.content textarea { min-height: 12em; resize: vertical; }*/
.main_box {
    width: 400px;
    margin: 0px auto;
    padding: 110px 0 60px 0;
}

.login_box {
    height: 370px;
    font-family: normal;
    border: 1px solid gray;
    border-radius: 4px;
}

.login_box h3 {
    height: 30px;
    font-size: 14px;
    padding: 4px 30px;
    border-bottom: 1px solid gray;
}

.login_box h3 span {
    font-weight: bold;
    float: left;
}

.ml {
    float: left;
}

.mr {
    float: right;
}

.form_all_box {
    padding: 0 30px;
    color: gray;
}

.form_box {
    display: inline-block;
    height: 40px;
    width: 338px;
    color: gray;
    border: 1px solid gray;
    margin-top: 35px;
    padding: 0;
    text-indent: 10px;
    line-height: 40px;
    border-radius: 4px;
}

.select_btn {
    font-family: normal;
    font-size: 14px;
    padding: 4px 30px;
}

.form_all_box button {
    padding: 0 30px;
    border: 1px solid #1f95e2;
}

.btn_box {
    display: inline-block;
    height: 40px;
    width: 338px;
    margin-top: 15px;
    padding: 0;
    text-indent: 10px;
    line-height: 40px;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 4px;
    font-color: white;
    background-color: blue;
    color: #fff;
    background-color: #1f95e2;
}

#lin, #lig {
    text-decoration: none;
}

/*input.danger { color: #cc2f2e; }*/
/*input[type=submit] { align-self: start; min-width: 10em; }*/